




<!-- dummy html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naya Aashiyana</title>

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/8index.css">

</head>
<body>

      {{>header}}
<!-- header section starts  -->


<!-- header section ends -->

<!-- home section starts  -->
<!-- section starts -->
 {{>section}}

<!-- home section ends -->





<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading">  <span>our services</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="s-1.png" alt="">
            <h3>FOR BOYS PG</h3>
            <p>Best Pg According To Your Financial Caliber And Consdering Location Of Your College, University Or Your Work Place</p>
            <div class="learnmore">
              <a href="#" class="btn">learn more</a>
            </div>

        </div>

        <div class="box">
            <img src="s-2.png" alt="">
            <h3>FOR GIRLS PG</h3>
            <p>Best Pg According To Your Financial Caliber With Better Security And Society Nearby Your College, University Or Your Work Place </p>
            <div class="learnmore">
              <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box">
            <img src="s-3.png" alt="">
            <h3>FOR MESS</h3>
            <p>Find Best Quality Food Here </p>
            <div class="learnmore">
              <a href="#" class="btn">learn more</a>
            </div>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured Rooms</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image-container">
                <img src="pg pic.jpeg" alt="pg pic">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>RS.17,00/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="Tel:916200110059" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>H4</h3>
                    <p>purani chungi amritsar</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> Boys Pg </h3>
                    <h3> <i class="fas fa-bed"></i> Multi Bed</h3>
                    <h3> <i class="fas fa-bath"></i> common Bathroom </h3>
                </div>
                <div class="buttons">
                    <a href="https://www.google.com/maps/dir/31.6407232,74.8857985/Yuvi+Gill+Hair+%26+Make+Up+Studio,+Old+Chungi+Gt+Road+Cipet+Road,+Punjab+143105/@31.636312,74.8202108,13z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x39196581b555d355:0x7ceb681f6f7dbfe5!2m2!1d74.8209473!2d31.6310936!3e0" class="btn">Direction</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>6 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>2</h3></a>
                    <a href="#" class="fas fa-camera"><h3>7</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 5,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="Tel:918640000300" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3> Karan Pg</h3>
                    <p>Near Khalsa PubliC School</p>
                    <p>Wifi And Electricity added</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i>Boys Pg </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> Attached baths </h3>
                </div>
                <div class="buttons">
                    <a href="https://www.google.com/search?rlz=1C1GCEA_enIN990IN990&tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=ALiCzsZh3sknW4Wojse_s1_-6Cws7TGPBg:1652176544960&q=karan+pg+amritsar&rflfq=1&num=10&rldimm=13810970788450771226#rlfi=hd:;si:13810970788450771226;mv:[[31.8102499,77.14415199999999],[29.592425799999997,74.5492592]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" class="btn">Direction</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>1 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>6</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>9 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>2</h3></a>
                    <a href="#" class="fas fa-camera"><h3>6</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>10 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>3</h3></a>
                    <a href="#" class="fas fa-camera"><h3>8</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- featured section ends -->


<!-- featured mess section start -->



<section class="featured" id="featured">

    <h1 class="heading"> <span>Mess</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>for 1 month</h3>
                    <h3>tiffin system</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>3,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <!-- <a href="#" class="fas fa-phone"></a> -->
                </div>
                <div class="location">
                    <h3>Eknoor Mess</h3>
                    <p>Near Khalsa Public School</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="https://www.google.com/maps/dir/31.6407232,74.8857985/pg+in+amritsar,+pg+in,+Amritsar,+Punjab+143001/@31.6376112,74.8570519,14z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x391964cfd0fd82df:0xb3f8f748dafd6511!2m2!1d74.8618849!2d31.6353155!3e0" class="btn">Direction</a>
                    <a href="#" class="btn">Book Now</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>6 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>2</h3></a>
                    <a href="#" class="fas fa-camera"><h3>7</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>1 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>6</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>9 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>2</h3></a>
                    <a href="#" class="fas fa-camera"><h3>6</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>10 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>3</h3></a>
                    <a href="#" class="fas fa-camera"><h3>8</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="sticker">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>$25,000/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>
                    <p>jogeshwari west, mumbai, india - 400104</p>
                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 3500 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="#" class="btn">view details</a>
                </div>
            </div>
        </div>

    </div>

</section>



<!-- featured mess section ends -->
<!-- contact section starts  -->

<section class="contact_us" id="contact_us">

<h1 class="heading"> <span>contact</span> us </h1>

<div class="sticker-container">

    <div class="sticker">
        <img src="icon-1.png" alt="">
        <h3>phone number</h3>
         <a  class="btn" href="Tel:+916200110059"><p>+916200110059</p></a>
         <a  class="btn" href="Tel:+918586037839"><p>+918586037839</p></a>

    </div>

    <div class="sticker">
        <img src="icon-2.png" alt="">
        <h3>email address</h3>

        <a class="btn" href = "mailto: giridharijha123@gmail.com"><p>giridharijha123@gmail.com</p></a>
        <a  class="btn" href = "mailto: mishranilesh1504@gmail.com"><p>mishranilesh1504@gmail.com</p></a>


    </div>

     <div class="sticker">
        <img src="icon-3.png" alt="">
        <h3>office address</h3>
        <p>shori nagar 58B, govt. Polytechnic Road ,Near yuvi Gill saloon  , purani chungi </p>
    </div>

</div>

<div class="row">

    <form action="mailto: giridharijha123@gmail.com">
          <h1 class="heading"> <span>For</span> owners </h1>
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="number" placeholder="number">
        </div>
        <div class="inputBox">
            <input type="email" placeholder="email">
            <input type="text" placeholder="subject">
        </div>
        <div class="inputBox">
          <label for="myfile">FOR OWNERS</label>
         <input type="file" id="myfile" name="myfile">
        </div>
        <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">

    </form>

    <iframe class="map"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108704.38024405975!2d74.80007964671796!3d31.633525032800666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0xeea2605bee84ef7d!2sAmritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1651478235489!5m2!1sen!2sin" width="600" height="450" style="border:0;"  allowfullscreen="" loading="lazy"></iframe>

</div>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->
{{>9footer}}

<!-- footer section ends -->


















<!-- javascript part  -->
<script>

let menu = document.querySelector('#menu-bars');
let navbar = document.querySelector('.navbar');

menu.onclick = () =>{
    navbar.classList.toggle('active');
    menu.classList.toggle('fa-times');
}

window.onscroll = () =>{
    navbar.classList.remove('active');
    menu.classList.remove('fa-times');
}

</script>

</body>
</html>
