{{!-- this is the file of partials in this header part is taken from index.hbs  --}}
<header>
  <img class="logo-img" src="Aashiyana.jpg" alt="">
  <a href="#" class="logo" ><span>Naya</span>Aashiyana</a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#services">services</a>
        <a href="#featured">featured</a>
        <a href="#contact_us">contact us</a>
    </nav>

    <div class="sticker">
        <div id="menu-bars" class="fas fa-bars"></div>


        <!-- <a href="#" class="fas fa-heart"></a> -->
        <a href="C:/Users/Hp/OneDrive/Desktop/nodejs/expressByThapa/public/real estate/signup.html" class="fas fa-user"></a>
        <a href="expressByThapa/public/real estate/signup.html" class="fas fa-sign-in-alt"></a>
        {{!-- <a href="#" class="fas fa-bars">{{channelName}}</a> --}}
    </div>

</header>