{{!-- this is the file of partials --}}
{{!-- home sections --}}
<section class="home" id="home">

   <form  action="index.html" >
     <h3>find your perfect Aashiyana</h3>
     <div class="buttons-container">
       <a href="#featured" class="btn">for Pg</a>
       <a href="#" class="btn">for Mess</a>
     </div>
     <div class="inputBox">
       <input type="search" name="" placeholder="neighbourhood" id="">
       <input type="search" name="" placeholder="city" id="">
       <select  name="" id="">
         <option value="" disabled hidden selected>minimum price</option>
         <option value="RS.1500">RS.1500</option>
         <option value="RS.2000">RS.2000</option>
         <option value="RS.2500">RS.2500</option>
         <option value="RS.3000">RS.3000</option>
         <option value="RS.5000">RS.5000</option>

       </select>


       <select  name="" id="">
         <option value="" disabled hidden selected>maximum price</option>
         <option value="RS.6000">RS.6000</option>
         <option value="RS.7000">RS.7000</option>
         <option value="RS.8000">RS.8000</option>
         <option value="RS.9000">RS.9000</option>
         <option value="RS.10000">RS.10000</option>
       </select>

       <select  name="" id="">
         <option value="" disabled hidden selected>Pg status</option>
         <option value="Single person">Single person</option>
         <option value="multi person">Multi person</option>
         <option value="single person with -Attached Bathroom">single person with -Attached Bathroom</option>
         <option value="multi person with -Attached Bathroom">multi person with -Attached Bathroom</option>
       </select>

       <select  name="" id="">
         <option value="" disabled hidden selected>pg type</option>
         <option value="Girls Pg">Girls Pg</option>
         <option value="Boys Pg">Boys Pg</option>
       </select>
       <select  name="" id="">
         <option value="" disabled hidden selected>Mess Facility</option>
         <option value="Mess">Mess</option>
         <option value="Without Mess">Without Mess</option>
       </select>
        <select class="" name="">
          <option value="" disabled hidden selected>pg facility</option>
          <option value="Ac">Ac</option>
          <option value="Non-Ac">Non-Ac</option>
          <option value=" Ac with wifi"> Ac with wifi</option>
          <option value="Non-Ac with wifi">Non-Ac with wifi</option>
        </select>
     </div>
     <input type="submit"  value="search property" class="btn">
   </form>
 </section>